$column-spacing: 5em / 7;

.calendar {
    table-layout: fixed;
    border: 2px solid $black;
    border-spacing: 0;
    user-select: none;
}

.calendar th {
    padding: $column-spacing .5em $column-spacing 0;
}

.calendar .day {
    display: block;
    padding: 5px;
    text-align: center;
}
