$column-spacing: 5em / 7;

.calendar {
    table-layout: fixed;
    border: none;
    border-spacing: 0;
    user-select: none;

    text-align: center;
}

.calendar th {
    padding: $column-spacing .5em $column-spacing 0;
}

.calendar .day {
	font-size: 0.875rem;
	text-decoration: none;

    display: block;
    padding: 12px;
    text-align: center;
}

// .calendar tr {
// 	border-bottom: 1px solid $black;
// }