// SECTION 
///////////////////////////////////////
///////////////////////////////////////


html {
  background-color: $colorGray2;
}

img, div {
  margin: 0;
}

.placeholder {
  height: 0%;
  width: 100%;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}

.section {
  width: 100%;
  max-width: 1600px;

  margin: 0 auto;
  padding: 0 8%;
}

.section--content {
  margin: 0 auto;
  padding: 4% 0;
}

.margin-top-xl {
  margin-top: 3rem;
}

.margin-top-xxl {
  margin-top: 6rem;
  @media #{$grid-mobile} {
    margin-top: 4em;
  }
}

.margin-top-xxxl {
  margin-top: 12rem;
  @media #{$grid-mobile} {
    margin-top: 6em;
  }
}

.hero-text {
  border: 2px solid;
  padding: 1.5em 2em;
  background-color: $colorGray1;
  margin-top: 0;

  p {
    margin-bottom: 0;
  }
}

.section--content-border {
  @media #{$grid-mobile} {
    margin-bottom: 3em;
  }

  &:before {
    content: '';
    width: 60px;
    height: 2px;
    margin-bottom: 1em;
    background-color: $black;
    display: block;
  }
}






