// SECTION
///////////////////////////////////////
///////////////////////////////////////


html {
    padding: 0;
    margin: 0;
    background-color: $color-gray1;
}

body {
    padding: 0;
    margin: 0;
}

img,
div {
    margin: 0;
}

.day-image {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    margin-top: 7em;
    margin-bottom: 0;
}

.section {
    width: 90%;
    // max-width: 1600px;
    padding: 0 4%;
    margin: 0 auto;
}

.top-neg-margin-xl {
    margin-top: 0;
    @media #{$grid-mobile} {
        margin-top: -7em;
    }
}

.section--content {
    padding: 4% 0;
    margin: 0 auto;

    &__title {
        padding-top: 0;
        margin-top: 0;
    }
}

.margin-top-xl {
    margin-top: 3rem;
}

.margin-top-xxl {
    margin-top: 4rem;
    @media #{$grid-mobile} {
        margin-top: 6em;
    }
}

.margin-top-xxxl {
    margin-top: 6rem;
    @media #{$grid-mobile} {
        margin-top: 12em;
    }
}

.hero-text {
    padding: 1.5em 2em;
    margin-top: 0;
    background-color: $white;
    border: 2px solid;
    border-top: 0 solid;

    p {
        margin-bottom: 0;
    }
}

.hero-title {
    display: block;
    padding-top: 40px;
    border-top: 12px solid;
}

.fixed-title {
    position: absolute;
    top: .925em;
    @media #{$grid-mobile} {
        position: fixed;
        top: .75em;
    }
    @media #{$grid-medium} {
        top: .625em;
    }
}

.section--content-border {
    &:before {
        display: block;
        width: 60px;
        height: 2px;
        margin-bottom: 1em;
        background-color: $black;
        content: '';
    }
}
