// SECTION 
///////////////////////////////////////
///////////////////////////////////////


html {
  background-color: $colorGray1;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

img, div {
  margin: 0;
}

.placeholder {
  height: 0%;
  width: 100%;
  display: block;
  margin-top: 7em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.placeholder-calendar {
  width: 100%;
  padding: 30% 20%;
  text-align: center;
  background-color: transparent;
  border: 2px solid $black;
  color: $white;
  margin-bottom: 2em;
}


.section {
  width: 100%;
  max-width: 1600px;

  margin: 0 auto;
  padding: 0 8%;
}

.top-neg-margin-xl {
  margin-top: 0;
  @media #{$grid-mobile} {
    margin-top: -7em;
  }
}

.section--content {
  margin: 0 auto;
  padding: 4% 0;

  &__title {
    padding-top: 0;
    margin-top: 0;
  }
}

.margin-top-xl {
  margin-top: 3rem;
}

.margin-top-xxl {
  margin-top: 4rem;
  @media #{$grid-mobile} {
    margin-top: 6em;
  }
}

.margin-top-xxxl {
  margin-top: 6rem;
  @media #{$grid-mobile} {
    margin-top: 12em;
  }
}

.hero-text {
  border: 2px solid;
  border-top: 0 solid;
  padding: 1.5em 2em;
  background-color: $white;
  margin-top: 0;

  p {
    margin-bottom: 0;
  }
}

.hero-title {
  border-top: 12px solid;
  padding-top: 50px;
  display: block;

  @media #{$grid-mobile} {
    padding-top: 80px;
  }
}

.fixed-title {
  position: fixed;
  top: 0.925em;
}

.section--content-border {
  &:before {
    content: '';
    width: 60px;
    height: 2px;
    margin-bottom: 1em;
    background-color: $black;
    display: block;
  }
}







