// TYPE 
///////////////////////////////////////
///////////////////////////////////////


// Headers 
///////////////////////////////////////

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: $black;
}

h1 {
  font-size: 8rem;    
  letter-spacing: -1px;
  line-height: 0.875;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1.25rem;
}


// Body 
///////////////////////////////////////

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.large-p {
  font-size: 1.5rem;
  line-height: 1.3;
}

.footer-p {
  padding-top: 2.675rem;
}


// Colour 
///////////////////////////////////////

.white {
  color: $white;
}





