// TYPE 
///////////////////////////////////////
///////////////////////////////////////


// Headers 
///////////////////////////////////////

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

h1 {
  font-size: 4rem;    
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0.125em;
}

h2 {
  margin-bottom: 1.5rem;
}



// Body 
///////////////////////////////////////

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.large-p {
  font-size: 1.5rem;
  line-height: 1.3;
}


// Colour 
///////////////////////////////////////

.white {
  color: $white;
}





