// Colour 
///////////////////////////////////////
///////////////////////////////////////

$colorGray1: #fff8ee !default;
$colorGray2: #fceddf !default;
$colorGray3: #ccd6dd !default;
$colorGray4: #8899a6 !default;
$colorGray5: #66757f !default;
$colorGray6: #292f33 !default;

$white:		#ffffff;
$black:		#050810;

