// Colour
///////////////////////////////////////
///////////////////////////////////////

$grid-mobile: '(min-width: 600px)';
$grid-medium: '(min-width: 900px)';

$color-gray1: #fff8ee !default;
$color-gray2: #fceddf !default;
$color-gray3: #ccd6dd !default;
$color-gray4: #8899a6 !default;
$color-gray5: #66757f !default;
$color-gray6: #292f33 !default;

$white:		#fff !default;
$black:		#050810 !default;
