@import 'base/_variables';
@import 'base/_type';
@import 'base/_grid';
@import 'base/_section';


* {
  box-sizing: border-box;
}

html {
  background-color: $colorGray2;
}

.placeholder {
	height: 0%;
	width: 100%;
	padding-bottom: 62%;
<<<<<<< Updated upstream
	margin-bottom: 2rem;
=======
	background-color: #000;
	// margin-bottom: 2rem;
>>>>>>> Stashed changes
}
