{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div class="section--content grid">

        <div class="col-2-3">
            <img class="day-image" src="{{ url_for('static', filename='img/john-key-404.gif') }}" alt="404 – John Key" title="John Key hammering a nail">
        </div>

        <div class="col-1-3 margin-top-xl">
            <div class="section--content-border">

                <h2>{{error}}</h2>

                <h3>Please try another day:</h3>

                {{ macros.calendar(calendar, date) }}
            </div>
        </div>

    </div>
    <div class="section--content grid">
        <div class="col-1-3">

        </div>
    </div>
{% endblock %}
