{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div class="section--content grid" itemscope itemtype="http://schema.org/CreativeWork">

        <div class="col-2-3">
            <a href="{{ record.url }}" rel="external">
                <img class="day-image" src="{{ record.image }}" alt="{{ record.title | capitalize }} – {{ record.author | capitalize }}" title="{{ record.title | capitalize }} - {{ record.author | capitalize }}" itemprop="image">
            </a>
        </div>

        <div class="col-1-3 margin-top-xl">
            <div class="section--content-border">

                <a href="{{ record.permalink }}">
                    <h2 itemprop="dateCreated">{{date.strftime('%d %B %Y')}}</h2>
                </a>

                {{ macros.calendar(calendar, date) }}

                <a href="{{ record.url }}" rel="external" itemprop="url">
                    <p class="margin-top-xl">
                        <span itemprop="name">{{ record.title | capitalize }}</span>
                        <br>
                        <span itemprop="publisher">{{ record.author | capitalize }}</span>
                    </p>
                </a>
            </div>
        </div>

    </div>
    <div class="section--content grid">
        <div class="col-1-3">

        </div>
    </div>
{% endblock %}
