{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div class="section--content grid">

        <div class="col-2-3">
            <a href="{{ record.url }}" rel="external">
                <img class="day-image" src="{{ record.image }}" alt="{{ record.title | capitalize }} – {{ record.author | capitalize }}" title="{{ record.title | capitalize }} - {{ record.author | capitalize }}">
            </a>
        </div>

        <div class="col-1-3 top-neg-margin-xl">
            <div class="section--content-border">

                <a href="{{ record.permalink }}">
                    <h2>{{readable_date}}</h2>
                </a>

                {{ macros.calendar(calendar) }}

                <a href="{{ record.url }}" rel="external" >
                    <p class="margin-top-xl">{{ record.title | capitalize }}<br />{{ record.author | capitalize }}</p>
                </a>
            </div>
        </div>

    </div>
    <div class="section--content grid">
        <div class="col-1-3">

        </div>
    </div>
{% endblock %}
