
{% macro calendar(month) %}
    <div class="calendar--wrapper">
        <table class="calendar" role="nav">
            <thead>
                <tr>
                    <th scope="col" title="Monday">M</th>
                    <th scope="col" title="Tuesday">T</th>
                    <th scope="col" title="Wednesday">W</th>
                    <th scope="col" title="Thursday">T</th>
                    <th scope="col" title="Friday">F</th>
                    <th scope="col" title="Saturday">S</th>
                    <th scope="col" title="Sunday">S</th>
                </tr>
            </thead>
            <tbody>
                {% for week in month %}
                    <tr>
                        {% for date in week %}
                            {% set link = date.day | day_link %}
                            <td>
                                {% if link != 1 %}
                                    <div class="day">{{ date.day }}</div>
                                {% else %}
                                    <a href="{{link}}" class="day" title="{{date.strftime('%d %B %Y')}}">
                                        <time datetime="{{date.isoformat()}}">
                                            {{ date.day }}
                                        </time>
                                    </a>
                                {% endif %}

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
